body {
    background-image: url('images/pink_back.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Courier New, monospace;
    line-height: 1.6;
    text-align: justify;
    margin: 100px;
}
h1 {
    color: #000000;
    text-align: center;
    font-size: 3em;
    background-color: #8B008B
}

h2, h3 {
    color: #000000;
    text-align: center;
    font-size: 2em;
    background-color: #8B008B
}

p {
    font-size: 20px;
    text-align: justify;
    margin: 15px 0;
}

a {
    color: #6A5ACD;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #FFC0CB;
}

th {
    background-color: #8B008B;
    color: white;
}

ul {
    font-size: 20px;
    margin: 20px;
    padding-left: 40px;
    text-align: center;
}

ol {
    font-size: 20px;
    margin: 20px auto;
    padding-left: 40px;
    text-align: justify;
    background-color: #FFE4E1;
    border-radius: 10px;
    padding: 15px;
    width: 70%;
    list-style-type: decimal;
}

    ol li {
        margin-bottom: 10px;
        font-weight: bold;
    }

ul {
    list-style: none;

}

.special {
    text-align: center;
    font-style: italic;
    color: #8B008B;
    font-size: 2em;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#new_color {
    color: blueviolet;
}

